[user]
	signingkey = /Users/emrecebi/.ssh/id_auth.pub
	name = Emre Cebi
	email = emrecebi03@gmail.com
[core]
	autocrlf = input
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[gpg]
	format = ssh
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
